$color-primary: #1A1B41;
$color-secondary: #BAFF29;
$color-pale: #F1FFE7;
$color-mid: #ffbf20;
$color-dark: #0046a4;
$color-black-transparent: rgba(0, 0, 0, 0.5);


$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
    overflow-x: hidden;
}
  
h1, h2, h3 {
    font-family: $header-font; 
}

.navbar-dark {
    background-color: $color-dark;
    div {
        color: $color-pale;
        a, h2 {
            color: $color-pale;
            text-decoration: none;
        }
    }    
}

h2 {
    color: $color-primary;
}

#title {
    font-size: 25px;
}

.row-content {
    padding: 10px 0px;
    border-bottom: 1px ridge;
}

.site-footer {
    margin-top: 20px;
    background-color: #0046a4;
    padding: 20px 0;
    color: $color-pale;
}

  
.card-title, .card-subtitle {
    a {
        text-decoration: none;
    }
    
}

#searchOption {
    width: 130px;
}

.needCarousel, .offerCarousel {
    background: transparent;
}
  
.carousel-cell {
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
    .card {
        height: 300px;
        width: 250px;
        .card-header {
            height: 100px;
        }
    }
}

.carousel-cell.is-selected {
    background: $color-pale;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: 5px;
}
/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 30px;
    margin: 0;
    border-radius: 0;
}
