body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

.navbar-dark {
  background-color: #0046a4; }
  .navbar-dark div {
    color: #F1FFE7; }
    .navbar-dark div a, .navbar-dark div h2 {
      color: #F1FFE7;
      text-decoration: none; }

h2 {
  color: #1A1B41; }

#title {
  font-size: 25px; }

.row-content {
  padding: 10px 0px;
  border-bottom: 1px ridge; }

.site-footer {
  margin-top: 20px;
  background-color: #0046a4;
  padding: 20px 0;
  color: #F1FFE7; }

.card-title a, .card-subtitle a {
  text-decoration: none; }

#searchOption {
  width: 130px; }

.needCarousel, .offerCarousel {
  background: transparent; }

.carousel-cell {
  width: 250px;
  margin-right: 10px;
  border-radius: 5px; }
  .carousel-cell .card {
    height: 300px;
    width: 250px; }
    .carousel-cell .card .card-header {
      height: 100px; }

.carousel-cell.is-selected {
  background: #F1FFE7; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white; }

/* position dots up a bit */
.flickity-page-dots {
  bottom: 5px; }

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 30px;
  margin: 0;
  border-radius: 0; }
